body{font-family:"Microsoft Yahei";font:12px/180% Arial,Helvetica,sans-serif,"ÐÂËÎÌå"}.site_nav_inner,.module{width:1200px;margin:0
auto}.site_nav{background:#fff;border-bottom:1px solid #e2e2e2;line-height:30px;overflow:hidden;position:relative;z-index:200}.site_nav_inner_top{background:#fff;border-bottom:1px solid #e2e2e2;height:46px;font-size:14px;line-height:46px}.site_nav_inner_top
a{color:#666}.site_nav_inner{color:#666;background:#fff}.detail_menu
li{float:left;color:#CCC}.site_nav_inner_top .detail_menu li
a{display:inline-block;*display:inline;margin:0
15px}.detail_menu li
a{display:inline-block;*display:inline;margin:0
8px}.detail_menu li a:hover,.site_nav_inner a:hover{color:#f80}.menu{height:98px;background:#fff;font-family:"Microsoft Yahei";position:relative;z-index:100}.menu
.module{background:#fff;position:relative;overflow:visible}.site_logo{margin-top:20px}.site_logo
a{display:inline-block}.site_logo a
img{display:block}.index_nav{margin-right:150px;height:64px}.index_nav>li{float:left;margin:26px
5px 0;position:relative;*zoom:1;overflow:visible}.index_nav>li>a{display:inline-block;*display:block;height:52px;line-height:52px;font-size:18px;border:1px
solid transparent;width:100px;text-align:center}.index_nav>li.has_sub_nav:hover>a{border:1px
solid #e2e2e2;border-radius:5px 5px 0px 0px;border-bottom:1px solid transparent;position:relative;z-index:102;background:#FFF}.index_nav>li>a.on{background:#ff4c4c;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;color:#fff}.index_nav>li>a:hover{color:#ff4c4c}.index_nav>li:hover>a.on{background:#FFF;color:#404040}.index_nav>li>a.on:hover{color:#ff4c4c}.index_nav li .sub-nav{display:none;position:absolute;top:53px;*top:52px;left:0;z-index:101;border:1px
solid #e2e2e2;border-radius:0px 5px 5px 5px;background:#FFF}.index_nav li .sub-nav
li{text-align:center;clear:both;width:130px;height:50px;line-height:50px;text-align:left;padding-left:20px}.index_nav li .sub-nav li:hover
a{color:#ff4c4c}.index_nav li .sub-nav li
a{height:50px;line-height:50px;display:block;font-size:14px;color:#666}.index_nav > li.has_sub_nav:hover .sub-nav{display:block}.userCenter{margin-top:32px;font-size:18px;color:#666;position:absolute;right:0}.userCenter
span{margin-right:10px}.userCenter a:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8}.userCenter a
.userCenterIco{display:inline-block;background:url(https://ssl.tuniucdn.com/img/20150205/jinrong/licai2/userCenter.png) no-repeat 0 0;width:48px;height:48px;vertical-align:middle}.userCenter a:hover
.userCenterIco{display:inline-block;background:url(https://ssl.tuniucdn.com/img/20150205/jinrong/licai2/userCenter.png) no-repeat -50px 0;width:48px;height:48px;vertical-align:middle}.leadTop{margin-top:30px;margin-bottom:25px}.leadTop
a{padding-right:15px;display:inline-block;*display:inline;border-right:1px solid #fff;height:52px;vertical-align:middle}.leadName{display:inline-block;*display:inline;padding-left:15px;border-left:1px solid #c4c4c4;height:52px;vertical-align:middle;line-height:58px;color:#666;font-size:24px}.leadSubmit{position:absolute;bottom:-55px}.leadTop
a.noline{border-right:none}.secNav
.module{background:#f0f0f0}.secNav{background:#f0f0f0;height:40px}.secNav ul
li{float:left;margin:5px
10px;font-size:14px;line-height:30px;color:#666}.secNav ul li
a{display:inline-block;padding:0px
8px}.secNav ul li a:hover,.sedNav-cur{background:#f08d1d;color:#fff}.subNavTop{background:url(https://ssl.tuniucdn.com/img/20150316/jinrong/licai2/subNav.png) no-repeat 0 0;height:16px;width:125px}.subNavFoot{background:url(https://ssl.tuniucdn.com/img/20150316/jinrong/licai2/subNav.png) no-repeat 0 -162px;height:6px;width:125px}.leadTop.fle{float:left}.clea111{clear:both}@media screen and (max-width: 1200px){.site_nav,.menu{width:1200px}}.detail_menu
li.ws_logo{background:#FFF url(https://ssl.tuniucdn.com/img/20150727/jinrong/licai2/weixin_shouji.png) no-repeat center;width:38px;height:30px;position:relative;overflow:visible;z-index:100;border:1px
solid transparent;border-top:none;border-bottom:none}.detail_menu
li.weixin1{background-position:8px 4px;margin-left:10px}.detail_menu li.weixin1:hover{background-position:8px -28px}.detail_menu
li.shouji1{background-position:8px -60px}.detail_menu li.shouji1:hover{background-position:8px -93px}.detail_menu li.ws_logo:hover{border-color:#e6e6e6;width:38px}.detail_menu li.ws_logo
.erma1{position:absolute;padding:4px
4px 8px;text-align:center;border:1px
solid #e6e6e6;top:30px;left:-101px;background:#FFF;display:none;z-index:199}.detail_menu li.ws_logo .erma1
img{float:left}.detail_menu li.ws_logo .erma1
p{font-size:16px;color:#666;text-align:center;line-height:16px}.detail_menu li.ws_logo:hover
.erma1{display:block}.detail_menu li.ws_logo
i{position:absolute;top:29px;width:38px;height:2px;background:#FFF;left:0px;z-index:200;display:none}.detail_menu li.ws_logo:hover
i{display:block}.serv_phone
.email{height:39px;line-height:39px;border-left:1px solid #535353;padding-left:27px;padding-right:8px;margin-top:24px;margin-left:25px}.serv_phone .email
img{margin-right:14px;vertical-align:middle}.serv_phone .email
a{font-size:12px;color:#FFF;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;display:block;overflow:hidden}.serv_phone .email a:hover{color:#FFF;filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.serv_phone.ref{margin-top:0px;width:auto;overflow:hidden}.logo_myjr{height:80px;background:#FFF;min-width:1200px;position:relative;z-index:150}.logo_myjr
img.logo{margin-top:19px;margin-left:10px}.logo_myjr
.myjr{width:138px;height:34px;line-height:34px;background:#f9f9f9 url(https://ssl.tuniucdn.com/img/20150923/jinrong/gbjrhome/tips.png) no-repeat 90% 15px;font-size:14px;color:#333;position:relative;border:1px
solid #e5e5e5;margin-top:22px}.logo_myjr .myjr
i{margin:7px
12px;display:inline-block;zoom:1;*display:inline;width:19px;height:18px;background:url(https://ssl.tuniucdn.com/img/20150923/jinrong/gbjrhome/myjr.png) no-repeat 0 0;vertical-align:top;*vertical-align:middle}.logo_myjr .myjr:hover{background-position:90% -6px;color:#fc6969}.logo_myjr .myjr:hover
i{background-position:-19px 0}.logo_myjr .myjr
ul{position:absolute;border:1px
solid #e5e5e5;border-top:none;left:-1px;top:35px;display:none;background:#f9f9f9}.logo_myjr .myjr ul
li{width:138px;height:38px;line-height:38px}.logo_myjr .myjr ul li
a{width:114px;padding:0px
12px;height:100%;display:block;font-size:12px;color:#666;background:#f9f9f9}.logo_myjr .myjr ul li:hover
a{background:#efefef;color:#fc6969}.logo_myjr .myjr:hover
ul{display:block}.main_nav{background:#fc6969;height:40px;min-width:1200px;font-size:16px;color:#FFF;position:relative;z-index:100}.main_nav
.pro_type_nav{width:228px;position:relative;border-left:1px solid #eb4948;border-right:1px solid #eb4948}.main_nav .pro_type_nav
p{margin-left:20px;line-height:40px}.main_nav .pro_type_nav p
i{display:block;height:40px;width:12px;background:url(https://ssl.tuniucdn.com/img/20150923/jinrong/gbjrhome/tips.png) no-repeat 0px -28px;position:absolute;right:27px;top:0}.main_nav .pro_type_nav:hover p
i{background-position:0px -54px}.main_nav .pro_type_nav
.nav_list{line-height:1.75;padding:5px
27px 5px 20px;background:#FFF;height:390px;*width:183px;position:absolute;left:-1px;top:40px;display:none}.pro_type_nav .nav_list
a{font-size:14px;color:#666}.pro_type_nav .nav_list
dl{border-bottom:1px solid #eee;padding:5px
0px}.pro_type_nav .nav_list dt
a{font-size:16px;color:#333}.pro_type_nav .nav_list dd
a{margin-right:8px;display:inline-block;zoom:1;*display:inline}.pro_type_nav .nav_list a:hover{color:#ff5558}.main_nav ul
li{float:left;width:110px}.main_nav ul li
a{width:100%;height:100%;display:block;line-height:40px;text-align:center;font-size:16px;color:#FFF}.main_nav ul li:hover{background:#eb4948}.main_nav ul
li.cur{background:#eb4948}.index-ad{position:absolute;left:0;bottom:0;width:230px}.index-ad
.erimg{vertical-align:top;margin-left:20px}.index-ad
.ermaimg{position:absolute;top:-328px;left:229px;height:400px;display:none}.index-ad:hover
.ermaimg{display:block}