<style type="text/css">
	/*body{
		margin: 0;
		padding: 0;
	}
	#a{
		width: 200px;
		margin: 0 auto;
	}
		input{
			
			width: 100px;
			height: 35px;
			border: none;
			background: #fff;
			border: 2px solid red;
			text-align: center;
			line-height: 35px;
			font-size: 14px;
			color: #000;
			font-weight: bold;
			border-radius: 15px;
		}*/
		.wrap{
			width: 100%;
			height: 100%;
			
			
		}
		.header{
			height: 100px;
			border-bottom: 2px solid #000;
			
		}
		.main h1{
			font-size: 16px;
			padding: 20px 20px;
		}
		.main ul{
			
			width: 100%;
		}
		.main ul li{
			list-style: none;
			float: center;
			padding: 0 10px;
		}
		.main h2{
			padding: 10px 20px;
			border-bottom: 1px dashed #000000;
		}

		.main h3{
			padding: 10px 20px;
		}
		.main h4{
			padding: 10px 20px;
			font-size: 14px;
		}

		.main2 h1{
			font-size: 18px;
			margin: 20px 300px;
			
		}
	</style>