.pack{overflow:hidden}
.pack_bt{height:30px;float:left;font-size:24px;color:#666;border-left:1px solid #878787;padding-top:30px;padding-left:10px}
.pack_content{position:relative;clear:both;margin-bottom:140px;margin-top:30px;background-color:#fff;padding:28px
45px}
.pack_content .head_tip{position:relative;margin-bottom:30px;padding:10px
20px;background-color:#f0f0f0}
.pack_content .head_tip p
img{position:absolute;top:13px;left:13px;display:block}.pack_content .head_tip p
span{display:inline-block;*display:inline;zoom:1;margin-left:20px;width:570px;color:#f80;font-size:12px;line-height:18px}
.pack_content .user_imform dl{overflow:hidden;clear:both}
.pack_content .user_imform dt{width:140px;text-align:right;font-size:14px;line-height:70px;color:#666}
.pack_content .user_imform dd{line-height:70px;margin-left:5px}
.pack_content .user_imform dd input{width:200px;padding-left:10px;*margin-right:10px;border:1px
solid #dcdcdc;font-size:14px;line-height:36px;height:36px;color:#666}
.pack_content .user_imform dd span{position:relative;margin-left:10px;padding-left:10px;display:inline-block;*display:inline;zoom:1;background-color:#f0f0f0;font-size:12px;line-height:36px;*line-height:20px;height:36px;color:#666}
.pack_content .user_imform dd>span:before{position:absolute;left:-3px;top:50%;margin-top:-4px;content:" ";height:8px;width:8px;background:#f0f0f0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
.pack_content .user_imform dd span img{display:block;position:absolute;top:9px;left:7px}
.pack_content .user_imform dd span em{*margin-top:7px;margin-right:10px;margin-left:23px;display:block}
.pack_content .user_imform dt,dd{float:left}.pack_content .bottom_tip{clear:both}
.pack_content .bottom_tip i{cursor:pointer}
.pack_content .agreeXy{margin-left:100px;text-align:left;font-size:14px;position:relative;margin-bottom:35px}
.pack_content .agreeXy a{color:#8fa0b3}
.pack_content .agreeXy a:hover{color:#fc8000}
.pack_content .agreeXy a,.pack_content .agreeXy label,.pack_content .agreeXy .wallet-info,.agreeXy-text{display:block;float:left}.agreeXy-text{padding:0
10px}
.pack_content .agreeXy .wallet-info{margin-top:-2px}
.pack_content .agreeXy .unchecked:hover{border:1px
solid #4ed77b}
.pack_content .agreeXy label:active{background-color:#4ed77b}.agreeXy
label.checked{background:url("https://ssl.tuniucdn.com/img/20151028/jinrong/licai2/package/chosen.png") no-repeat center center;}.agreeXy
label{background:#FFF none repeat scroll 0% 0%;border:1px
solid #E0E0E0;border-radius:3px;width:15px;height:15px;vertical-align:middle}.pack_content
h2{position:relative;padding:0
30px;font-size:18px;line-height:80px;height:80px;border-bottom:1px solid #e6e6e6}.pack_content h2 a, .pack_content h2
i{color:#5b9fe2;font-weight:bold}.pack_content h2
i{margin:0
6px}.pack_content h2
span{font-size:14px;line-height:26px;color:#666;margin-left:20px}.pack_content h2
.text{margin-left:10px;padding:3px
5px;border:1px
solid #fc6969;color:#fc6969;font-size:12px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.pack_content h2
.link{position:absolute;top:50%;right:10px;margin-top:-12px;line-height:24px;color:#69c;font-size:12px}.pack_content
.usual{margin-top:22px}.pack_content
.title{font-size:18px;line-height:26px;color:#666;height:42px;overflow:hidden}.pack_content .title
span{position:relative;text-indent:20px}.pack_content .title
i{left:0px;top:50%;margin-top:-8px;position:absolute;display:block;width:16px;height:16px;background:url(https://ssl.tuniucdn.com/img/20151028/jinrong/licai2/package/log.png) no-repeat center}.pack_content
.tip{display:none;overflow:hidden;position:absolute;top:115px;right:45px;padding:0px;width:305px;height:52px;background:url(https://ssl.tuniucdn.com/img/20151028/jinrong/licai2/package/tip.png) no-repeat center}.pack_content .tip
p{overflow:hidden;position:absolute;top:12px;left:10px;text-align:left;display:block;line-height:18px;font-size:12px;color:#666}.pack_content .usual p
span{color:#8fa0b3;float:right;font-size:14px;line-height:26px}.pack_content .card_cho
dl{width:280px;height:134px;border:1px
solid #e2e2e2;margin:0
12px 12px 0}.pack_content .card_cho dl
dt{margin:0;border:none;overflow:hidden;position:relative;width:280px;height:60px;background-color:#EFEFEF}.pack_content .card_cho dl
dd{width:100%;position:relative;height:74px}.pack_content .card_cho dl dt
p{margin:15px
0}.pack_content .card_cho .choose_main
span{margin-top:-60px;color:#333;font-size:14px;line-height:60px;float:right}.pack_content .choose_main span
em{margin-left:7px;margin-right:13px;padding:3px
0;font-size:12px;background-color:#5b9fe2;color:#fff}.pack_content .choose_main .XYK
em{background-color:#ec6b00 !important}.pack_content
.fast{margin:30px
15px 0 15px;width:90px;height:23px;background:url(https://ssl.tuniucdn.com/img/20151028/jinrong/licai2/package/fast.png) no-repeat center;display:inline-block;*zoom:1;*display:inline}.pack_content .card_cho dl dd
span{float:right;font-size:14px;margin-top:-38px;line-height:60px}.pack_content .card_cho dl dd span
a{margin-left:80px;margin-right:15px;color:#5b9fe2}.pack_content .usual
.intro{font-size:14px;line-height:26px;color:#666}.pack_content
.add_card{margin-top:20px;border:1px
solid #cad6e1;width:280px;height:136px;text-align:center}.pack_content .add_card
a{display:block}.pack_content .add_card
dt{line-height:141px;height:62px}.pack_content .add_card dt
img{display:inline-block;*display:inline;zoom:1;*margin-top:35px;vertical-align:baseline}.pack_content .add_card
dd{line-height:60px;font-size:14px;color:#8fa0b3}.pack_content
.card_detail{float:left;margin-left:150px}.pack_content .card_detail
p{font-size:16px;line-height:16px;margin-bottom:35px}.pack_content .card_detail p
a{font-size:14px;line-height:16px;color:#5b9fe2}.pack_content .myz
h3{font-size:16px;line-height:60px;color:#666;text-align:left}.pack_content .myz
input{width:244px;height:40px;line-height:40px;border:3px
solid #f0f0f0;font-size:20px}.pack_content
.myz{width:450px;margin:0
auto}.pack_content .myz
p{position:relative}.pack_content
.orab{display:block;text-align:center;width:177px;height:44px;background-color:#f80;font-size:16px;line-height:44px;border-radius:3px;color:#fff}.pack_content .myz
.dxbtn{position:absolute;top:50%;margin-top:-22px;left:257px;display:block}.pack_content .myz
.waitget{background-color:#ccc}.pack_content .myz
.error{margin:6px
0px;font-size:14px;line-height:60px;color:#fc6969}.pack_content .myz .error
i{margin-right:6px}.pack_content
.redb{display:block;text-align:center;width:167px;height:44px;background-color:#fc6969;font-size:16px;line-height:44px;border-radius:3px;color:#fff}.pack_content .chonse_bank
.tab{overflow:hidden}.pack_content .chonse_bank .tab
li{float:left;width:88px;height:28px;font-size:14px;line-height:28px;text-align:center;border-bottom:none;cursor:pointer}.pack_content .chonse_bank .tab
.off{border:1px
solid #69c;color:#69c;border-bottom:none}.pack_content .chonse_bank .tab
.on{border:1px
solid #69c;background-color:#69c;border-bottom:none;color:#fff}.pack_content .chonse_bank
.content_box{width:810px;padding:0px
8px;border:1px
solid #69c}.pack_content .chonse_bank .content_box
p{line-height:24px;font-size:12px;margin-top:11px;color:#999}.pack_content .chonse_bank .content_box
.bank_content{margin-bottom:10px;overflow:hidden}.pack_content .chonse_bank .content_box .bank_content
li{float:left;width:188px;height:38px;margin-right:10px;margin-top:10px;border:1px
solid #c2d0e8}.pack_content .chonse_bank .content_box .bank_content li
a{cursor:pointer}.pack_content .chonse_bank .content_box .bank_content li
p{margin:5px
auto}.pack_content .chonse_bank .content_box .bank_discount
li{overflow:visible;float:left;width:260px;height:auto;margin:10px
10px 0 0;background:#FFF;border:none}.pack_content .chonse_bank .content_box .bank_discount li
a{display:block;overflow:hidden;height:38px;border:1px
solid #b0c2e1;cursor:pointer;border-radius:1px}.pack_content .chonse_bank .content_box .bank_discount li a:hover{border:1px
solid #b0c2e1}.pack_content .chonse_bank .content_box .bank_discount li
p{float:left;margin:5px
5px 5px 10px}.pack_content .chonse_bank .content_box .bank_discount li
.quota{display:block;margin:0;padding:0;width:260px;height:18px;background:#F0F0F0;line-height:18px;color:#999;text-align:center}.pack_content .chonse_bank .content_box .bank_discount .discount-info{display:block;margin-top:7px;float:right;width:72px;height:25px;background:#fc6969;color:#FFF;line-height:25px;text-align:center;border-radius:13px 0 0 13px}.pack_content .chonse_bank .sure_bank
p{display:inline-block;*display:inline;zoom:1}.pack_content .chonse_bank .sure_bank
h4{width:200px;height:36px;border:1px
solid #d5d5d5;display:inline-block;*display:inline;zoom:1;line-height:28px}.pack_content .chonse_bank .sure_bank
span{background-color:#ddd;display:inline-block;*display:inline;zoom:1;width:80px;color:#666;text-align:center;margin:0px;padding:0px;font-size:14px;line-height:36px;height:36px}.pack_content .chonse_bank
.rechose_bank{display:inline-block;*display:inline;zoom:1;font-size:14px;line-height:30px;color:#8fa0b3;text-decoration:underline;margin-left:5px}.xubox_msgtype3{display:none}.xubox_botton
.xubox_botton1{margin-left:-55px !important;width:110px !important;height:30px !important}.xubox_botton
.xubox_botton2{background-color:#f4af60 !important;margin-left:-135px !important;width:110px !important;height:30px !important}.xubox_botton
.xubox_botton3{color:#fff !important;background-color:#f08d1d !important;width:110px !important;height:30px !important}.xubox_title{height:56px !important;line-height:56px !important}.xubox_title
em{font-size:18px !important;height:56px !important;line-height:56px !important;color:#f08d1d !important}.pack_content .add_card a:hover
dd{color:#fc8000}.pack_content .card_cho dl dd span a:hover{color:#fc8000}.pack_content .card_detail p a:hover{color:#fc8000}.yewu{background-color:#f2f9ff;position:relative}.yewu
div{margin:30px
20px 10px 10px}.yewu div
a{margin-top:15px;font-size:14px;color:#5B9FE2}.yewu
i{position:absolute;border-color:transparent transparent #f2f9ff transparent;border-style:solid;border-width:22px;width:0px;height:0px;top:-40px;left:50px}.pack_content .chonse_bank .content_box .bank_content li:hover{border:1px
solid #2F78F5}.pack_content .chonse_bank .content_box .bank_discount li:hover{border:none}i.selected{position:absolute;width:20px;height:20px;background:url(http://ssl.tuniucdn.com/img/20151228/jinrong/licai2/package/selected.png) no-repeat;right:0;bottom:0}.index_nav li
a.active{color:#d2ab4c}.index_nav li:after{content:"/";color:#e5e5e5;font-size:18px}.index_nav li:last-child:after{content:" "}.index_nav{margin:0}.excrecord{background-color:#fff;width:1200px;padding-bottom:10px;margin-top:20px}.excrecord
h2{font-size:16px;color:#333;line-height:50px;height:50px;font-weight:900;width:96%;margin:0
auto;border-bottom:1px solid #e6e6e6}.excrecord
.choices{width:96%;margin:0
auto}.excrecord .choices
.alltype{padding-top:10px;font-size:14px;height:30px;line-height:30px}.excrecord .choices .alltype
li{float:left}.excrecord .choices .alltype li
span{color:#999}.excrecord .choices .alltype li
a{display:block;margin:0px
20px;padding:0
10px}.excrecord .choices .alltype li a:hover{background-color:#f2cc94;color:#fff}.excrecord .choices .alltype li
a.active{background-color:#f90;color:#fff}.excrecord .choices
.calender{margin-top:-33px;font-size:16px;height:30px;line-height:30px}.excrecord .choices
.more{*margin-top:-30px;overflow:hidden;text-align:center;position:relative;z-index:999}.excrecord .choices .more
span{float:right;width:80px;display:block;background-color:#f0f0f0;text-align:center}.excrecord .choices .more span
a{color:#999;*margin:0px;*padding:0px;display:block}.excrecord .choices .more
ul{background-color:#f0f0f0;clear:both;float:right;width:80px;overflow:hidden;display:none}.excrecord .choices .more ul
li{width:100%;clear:both}.excrecord .choices .more ul li
a{padding:0;margin:0;display:block}.excrecord .choices
.time_more{font-size:14px;width:80px;margin:10px;height:30px;line-height:30px;text-align:center;position:relative;z-index:999}.excrecord .choices .time_more
span{float:right;width:80px;display:block;text-align:center}.excrecord .choices .time_more span
a{color:#999;*margin:0px;*padding:0px;display:block}.excrecord .choices .time_more
ul{background-color:#f0f0f0;clear:both;float:right;width:80px;overflow:hidden;display:none}.excrecord .choices .time_more ul
li{width:100%;clear:both}.excrecord .choices .time_more ul li
a{padding:0;margin:0;display:block}.excrecord .choices
input{font-size:14px;height:30px;line-height:30px;border:1px
solid #e6e6e6}.excrecord .choices input:hover{border:1px
solid #ff9000}.excrecord .choices
.search{display:inline-block;*display:inline;*zoom:1;margin-left:17px;padding:0
20px;background-color:#fc6969;color:#fff;font-size:16px;border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px}.excrecord .choices .search:hover{background-color:#f88585}.excrecord
.detail{width:96%;margin:20px
auto}.excrecord
.detail_content{border:1px
solid #e6e6e6}.excrecord .detail_content
img{display:block;margin:50px
auto}.excrecord .detail_content
table{width:100%;text-align:center}.excrecord .detail_content table
thead{text-align:center;font-size:15px;color:#999;background-color:#f0f0f0;height:40px}.excrecord .detail_content table thead
th{text-align:center;width:16.6%}.excrecord .detail_content table
tbody{font-size:14px;color:#333}.excrecord .detail_content table tbody
tr{height:45px;line-height:45px}.excrecord .detail_content table tbody tr
td.sum{color:#666}.excrecord .detail_content table tbody tr
td.amount{color:#f60}.pagination{float:right;margin:20px
60px}.pagination
li{float:left;font:normal 14px/30px Arial, Helvetica, "Microsoft Yahei"}.pagination li a, .pagination .page-cur{padding:5px
10px;background:none repeat scroll 0 0 #FFF;border:1px
solid #DDD;margin:5px}.pagination li a:hover{background:#ffe0b8}.pagination .page-cur{background-color:#e5a858;border:1px
solid #e5a858}.pagination
.num{border:1px
solid #DDD;height:26px;line-height:26px;text-align:center;width:30px}.pagination
.submit{background:none repeat scroll 0 0 #FFF;border:1px
solid #DDD;cursor:pointer;display:inline-block;height:26px;line-height:26px;text-align:center;width:36px}.pagination .page-cur{background-color:#e5a858;border:1px
solid #e5a858;color:#FFF}.user_head{mix-width:1200px;width:100%;height:120px;background-color:#5cbdfb;margin:0
auto}.user_head
.bg_area{margin:0}.user_head
.content_area{width:1200px;margin:0
auto;overflow:hidden;height:120px}.user_head .content_area
.hellow{float:left;margin-left:15px;margin-top:30px;width:500px}.user_head
p{display:block;font-size:14px;color:#fff;line-height:28px;height:28px}.user_head
.user_img{margin-top:12px;float:left;overflow:hidden;width:90px;height:90px;background-color:#a4dcff;border:5px
solid #38a3e7;border-radius:50px;-o-border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px}.user_head .user_img
img{width:60%;margin:18px
auto;display:block}.user_head
ul{float:right;margin:55px
70px 0}.user_head ul
.tip{position:absolute;top:-36px;font-size:12px;left:1px;background-color:#fff;color:#333;height:30px;line-height:30px;padding:0
10px;width:126px}.user_head ul .tip a, .tip
a{color:#69c;width:auto;float:none;display:inline}.user_head .tip
span{width:0px;height:0px;display:block;border-top:5px solid #fff;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid transparent;float:none}.user_head ul
li{padding:7px;float:left;overflow:visible;position:relative}.user_head ul li
span{margin-left:5px;float:left;display:block;color:#fff;font-size:12px;line-height:30px;height:30px}.user_head ul li
a{float:left}.user_head ul li
a{opacity:0.6;filter:alpha(opacity=60);width:30px;height:30px}.user_head ul li
a.actived{opacity:1.0;filter:alpha(opacity=100)}.user_head ul li a:hover{opacity:1.0;filter:alpha(opacity=100)}
.all_detail{overflow:hidden;width:1200px;margin:15px
auto}.pack_detail .all_detail
div{background-color:#fff;padding:0
20px}.pack_detail .all_detail div
h4{line-height:50px;height:50px;border-bottom:1px solid #e6e6e6;font-weight:900;font-size:16px;color:#333}.pack_detail .all_detail div h4
span{font-size:16px;color:#f90}.pack_detail .all_detail div h4
em{font-size:12px;color:#f90}.pack_detail .all_detail div h4
img{margin:15px;*margin:0;*margin-top:-35px;display:block;float:right}.pack_detail .all_detail div
p{margin-top:10px;overflow:hidden;font-size:14px;line-height:28px;color:#666}.pack_detail .notice
img{margin-left:10px}.pack_detail .notice
.module{border:1px
solid #e6e6e6;width:200px}.pack_detail .notice
.close{font-size:32px;line-height:50px;height:50px;margin-right:15px;display:block}.pack_detail .all_detail
.content_1{width:358px;height:195px;border:1px
solid #e6e6e6}.pack_detail .all_detail
.content_2{width:358px;height:195px;border:1px
solid #e6e6e6}.pack_detail .all_detail
.content_3{width:358px;height:195px;border:1px
solid #e6e6e6}.pack_detail .all_detail
.content_4{margin-top:11px;padding:0;width:787px;height:403px;border:1px
solid #e6e6e6}.pack_detail .all_detail
.content_5{width:358px;height:195px;border:1px
solid #e6e6e6;margin-top:11px;margin-left:11px}.pack_detail .all_detail
.content_6{width:358px;height:195px;border:1px
solid #e6e6e6;margin-top:11px;margin-left:11px}.pack_detail .all_detail .content_1 p span
i{color:#f90;font-size:18px}.pack_detail .all_detail .content_1 p
span{display:block;margin-top:10px}.pack_detail .all_detail .content_1 p
em{margin-top:5px;display:block;font-size:14px;color:#f90}.pack_detail .all_detail .content_1 p
a{display:block;float:right;margin-top:-50px;width:167px;height:44px;background-color:#fc6969;color:#fff;font-size:18px;line-height:44px;text-align:center;border-radius:5px;-o-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}.pack_detail .all_detail .content_1 p a:hover{background-color:#fc9797}.pack_detail .all_detail .content_2 p
a{*margin-top:-28px;color:#999}.pack_detail .all_detail .content_2 p a:hover{color:#666}.pack_detail .all_detail .content_2 p
a.default{margin:0
25px;*margin:0;*margin-top:-28px;*margin-right:20px;text-decoration:underline;color:#69c}.pack_detail .all_detail .content_2 p a.default:hover{color:#f60}.pack_detail .all_detail .content_3 p
span{}.pack_detail .all_detail .content_3 p
img{margin:0
20px 0px 10px}.pack_detail .all_detail .content_3 p
em{color:#8fa0b3;background-color:#f2f6fa;padding:10px;position:relative}.pack_detail .all_detail .content_3 p em
span{position:absolute;left:-10px;top:14px;width:0px;height:0px;display:block;border-top:5px solid transparent;border-left:5px solid transparent;border-right:5px solid #F2F6FA;border-bottom:5px solid transparent}.pack_detail .all_detail .content_4
div{padding:0}.pack_detail .all_detail .content_4
.goformore{color:#69c;font-size:14px;line-height:48px;height:48px;text-align:center;margin:0
auto;width:120px;display:block}.pack_detail .all_detail .content_4 .goformore:hover{color:#f60}.pack_detail .all_detail .content_5
.reco{overflow:hidden;margin-top:30px}.pack_detail .all_detail .content_5 .reco
a{line-height:56px;height:56px;font-size:14px;color:#666}.pack_detail .all_detail .content_5 .reco a:hover{color:#f60}.pack_detail .all_detail .content_6
h4{overflow:hidden}.pack_detail .all_detail .content_6 h4
a{float:right;font-size:14px;color:#69c}.pack_detail .all_detail .content_6 h4 a:hover{color:#f60}.pack_detail .all_detail .content_6 .notice_2
.pack_detail .all_detail .content_6 .notice_2
div{padding:0}.pack_detail .all_detail .content_6 .notice_2 ul
li{font-size:14px;line-height:28px;margin-right:10px}.pack_detail .all_detail .content_6 .notice_2 ul li a:hover{text-decoration:underline;color:#69c}.pack_detail .all_detail .content_6 .notice_2 ul li
i{margin-right:10px}.container{margin:15px
auto}.sideMenuLeft{width:210px;text-align:center;min-height:900px;color:#333}.sideMenuLeft
.userName{margin-bottom:5px;height:48px;padding:0
10px;background-color:#fff;border:1px
solid #E6E6E6;line-height:48px;font-size:16px;color:#666;text-align:left}.sideMenuLeft
.userMenu{background-color:#fff;min-height:845px}.lib_tabborder_sx{border:1px
solid #95C9E1}.lib_Contentbox_sx{margin-top:0;background:#fff;border:1px
solid #e6e6e6;width:950px;min-height:900px}.userMenu{margin-bottom:20px}.userMenu .tab-ctrl-item
span{padding-left:28px}.userMenu .icon-aside{position:absolute;left:18px;top:14px;height:20px;width:22px;background:url(https://ssl.tuniucdn.com/img/2016032405/jinrong/pay/icons.png) no-repeat}.userMenu .tab-ctrl-item .icon-base-info{background-position:0 -71px}.userMenu .tab-ctrl-item .icon-safe{background-position:1px -97px}.userMenu .tab-ctrl-item .icon-card{background-position:0 -122px}.userMenu .tab-ctrl-item.active .icon-base-info{background-position:-25px -71px}.userMenu .tab-ctrl-item.active .icon-safe{background-position:-24px -97px}.userMenu .tab-ctrl-item.active .icon-card{background-position:-25px -122px}.userMenu .tab-ctrl-item.active{background:#f90;color:#FFF}.userMenu .tab-ctrl-item.active .icon-arrow{background-position:-27px -22px}.tab-view-item{display:none}.tab-view-item.active{display:block}.sideMenuIco_01,.sideMenuIco_02,.sideMenuIco_03,.sideMenuIco_04,.sideMenuIco_05,.sideMenuIco_06,.sideMenuIco_07,.sideMenuIco_08,.sideMenuIco_09{background:url(https://ssl.tuniucdn.com/img/20151224/jinrong/pay/userCenterIco_gre.png) no-repeat center;display:inline-block;width:28px;height:28px;margin-right:10px;vertical-align:middle}.userMenu a.on .sideMenuIco_01,.sideMenuIco_01{background-position:0 0}.userMenu a.on .sideMenuIco_02,.sideMenuIco_02{background-position:-35px 0}.userMenu a.on .sideMenuIco_03,.sideMenuIco_03{background-position:-71px -2px}.userMenu a.on .sideMenuIco_04,.sideMenuIco_04{background-position:-104px 0}.userMenu a.on .sideMenuIco_05,.sideMenuIco_05{background-position:-173px 0}.userMenu a.on .sideMenuIco_06,.sideMenuIco_06{background-position:-205px 0}.userMenu a.on .sideMenuIco_07,.sideMenuIco_07{background-position:-238px 0}.userMenu a.on .sideMenuIco_08,.sideMenuIco_08{background-position:-269px 0}.userMenu a.on .sideMenuIco_09,.sideMenuIco_09{background-position:-300px 0}.sideMenuIco_s{background-position:-137px 0}.sideMenuIco_ss{background-position:-105px -2px}.sideMenuIco_sss{background-position:-71px -2px}.userMenu
a{position:relative;height:48px;line-height:48px;display:block;font-size:14px;text-align:left;text-indent:20px;cursor:pointer}.userMenu a
span{*margin-top:-60px;margin-right:15px}.userMenu
a.on{background-color:#f93;color:#fff}.userMenu a.on
i{background:url(https://ssl.tuniucdn.com/img/20151224/jinrong/pay/userCenterIco_wh.png) no-repeat center}.userMenu a.on i.icon-arrow{background-position:-27px -22px}.userMenu a i.icon-arrow{position:absolute;right:19px;top:50%;margin-top:-8px;width:8px;height:15px;background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/icons.png) -5px -22px no-repeat}.s_module_top{background-color:#fff;height:73px;padding:20px
50px 10px;color:#999;font-size:14px;line-height:28px}.s_module_top
em{font-size:18px;font-weight:900}.s_module_body{background-color:#fff}.s_module{border-bottom:1px solid #e6e6e6;height:73px;margin:5px
50px 0;color:#999;font-size:14px;line-height:28px}.s_module
em{font-size:18px;color:#4a0}.s_module
.intro{height:73px;line-height:73px;margin-left:35px}.s-level{width:250px;height:13px;display:inline-block;border-radius:20px;-webkit-border-radius:20px;border:1px
solid #f0f0f0;position:relative;margin-right:20px;*display:inline;*zoom:1}.level01{width:80px;height:13px;display:inline-block;border-radius:20px;-webkit-border-radius:20px;background:#ff4c4c;position:absolute;top:0;left:0}.level02{width:160px;height:13px;display:inline-block;border-radius:20px;-webkit-border-radius:20px;background:#f93;position:absolute;top:0;left:0}.level03{width:250px;height:13px;display:inline-block;border-radius:20px;-webkit-border-radius:20px;background:#4a0;position:absolute;top:0;left:0;*display:inline;*zoom:1}.statediv{background:#00a0e9;padding:0
5px;height:22px;color:#fff;font-size:14px;display:inline-block;*display:inline;*zoom:1;line-height:22px}.termTit{color:#666;font-size:16px;font-weight:bold;margin-right:100px}.orgBtn{padding:0px
10px;height:25px;line-height:25px;color:#f93;font-size:15px;display:inline-block;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;text-align:center;margin-top:5px;margin-left:15px;border:1px
solid #f93}.orgBtn:hover{background-color:#FBAC5E;color:#fff}.greyBtn{padding:0px
10px;height:25px;line-height:25px;color:#999;font-size:15px;display:inline-block;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;text-align:center;margin-top:5px;margin-left:15px;border:1px
solid #999}.gobtn{color:#6699f3;text-decoration:underline}.gobtn:hover{color:#f93}.gonebtn{color:#999}.stateIco{margin-top:25px;margin-left:10px}.grn{color:#4a0}.red{color:#ff4c4c}.org{color:#f79a04}.index_nav{height:auto}.site_logo a
img{margin:15px}.packageIndex
.index_nav{margin:0}.index_nav li
a{color:#333}.bank-card-manage{margin:30px;padding:0}.bank-card-manage
.h4{overflow:hidden;margin:5px
0 10px 0;color:#69c;font-size:14px}.bank-card-manage .h4 span, .bank-card-manage .icon-arrow{display:block;float:left}.bank-card-manage .icon-arrow{margin:5px
0 0 10px;height:9px;width:15px;background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/icons.png) no-repeat}.bank-card-manage .icon-arrow.up{background-position:-25px 0}.other-cards{overflow:hidden}.packageIndex .user_head .bg_area, .packageIndex .user_head
.content_area{background:url(http://ssl.tuniucdn.com/img/20160104/jinrong/pay/head_bg.jpg) center no-repeat}.packageIndex .user_head
.user_img{background-color:#64555b;border:5px
solid #f6e9c9}.packageIndex .user_head ul li
a.li_1{background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/bind_icon.png) 3% 43% no-repeat}.packageIndex .user_head ul li
a.li_2{background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/bind_icon.png) 36% 43% no-repeat}.packageIndex .user_head ul li
a.li_3{background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/bind_icon.png) 67% 43% no-repeat}.packageIndex .user_head ul li
a.li_4{background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/bind_icon.png) 97% 43% no-repeat}.packageIndex .user_head
ul{float:left;margin:50px
0 0}.packageIndex .user_head .content_area
.hellow{width:280px}.packageIndex .pack_detail .all_detail .content_1 p a:hover{background-color:#fa503c}.packageIndex .pack_detail .all_detail .content_1 p
a{width:97px;height:34px;line-height:34px;font-size:14px;margin-top:-40px;margin-right:12px}.packageIndex .detail_content table
tr{border-bottom:1px solid #e6e6e6}.packageIndex .detail_content table td,.packageIndex .detail_content table
th{*border-bottom:1px solid #e6e6e6}.packageIndex .excrecord .detail_content table thead
th{height:40px;line-height:40px}.packageIndex .excrecord .detail_content table thead
th{height:40px;line-height:40px}.packageIndex .notice,.packageIndex #FontScroll,.packageIndex .pack_detail .notice
.close{height:40px;line-height:40px;background:#fff}.card-bind{padding:0;margin:0}.modal,.modal-bg{position:fixed;top:0;left:0;width:100%;height:100%;z-index:999}.modal-expand{overflow:hidden}.modal-bg{background:#000;opacity: .3;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30)}.modal-body{position:fixed;left:50%;top:50%;padding:15px;margin-top:-115px;margin-left:-215px;width:400px;z-index:1000;background:#FFF;border:6px
solid #c3c9d2;text-align:center}.modal-body
h4{padding-bottom:10px;border-bottom:1px solid #f2f2f2;color:#f80;font-size:18px;line-height:35px}.modal-body .text-tips{padding:35px
0;font-size:14px}.modal-body .btn-confirm{display:block;margin:auto;width:100px;height:32px;line-height:32px;border:1px
solid #f80;color:#f80;text-align:center;cursor:pointer;font-size:14px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}.modal-body .btn-confirm:hover{background:#f80;color:#FFF}.modal-main{position:relative;height:100%;width:100%}.modal-main .icon-close{position:absolute;right:0;top:10px;height:16px;width:16px;background:url(https://ssl.tuniucdn.com/img/20160323/jinrong/pay/icons.png) -1px -45px no-repeat}.text-default{padding-top:10px;padding-left:70px;font-size:14px;color:#999}.validate-code-text{padding-bottom:20px;padding-left:145px;color:#f00}.card-details{margin:0;padding:0}.card-details
.h4{position:relative;height:90px;background:#F6F6F6;border-bottom:3px solid #69c}.card-details .btn-change-card,.card-details .btn-unbind-card{position:absolute;right:20px;bottom:10px;width:87px;height:24px;border:1px
solid #999;line-height:24px;text-align:center;color:#999;border-radius:3px;font-size:12px;cursor:pointer}.card-details .btn-unbind-card{bottom:20px}.card-details-item{position:relative}.card-details-item
.card_cho{position:absolute;left:30px;top:-63px;margin:0}.card-details-item .card_cho dl
dd{background:#FFF}.card-details-desc{position:relative;overflow:hidden;padding:90px
30px 20px 30px;font-size:14px}.card-details-desc
p{float:left;margin-right:125px}.card-details-desc
label{color:#999}.pattern-type{overflow:hidden;margin:10px
30px;border-top:1px dashed #e6e6e6}.pattern-type
label{display:block;float:left;margin:55px
15px 0 0;font-size:14px;color:#999}.pattern-type
.yewu{float:left;background:#FFF}.packageIndex .pack_detail .all_detail div
p.bankCard{margin-top:20px}.packageIndex .pack_detail .all_detail div p.bankCard
a{color:#69c;font-size:14px}.choose_main p.GZCB,.choose_main_over i,.card_info p,.sytx_xzyhk_xl_select
p{background:url(https://ssl.tuniucdn.com/img/20160330/jinrong/licai2/bank02.jpg) 2px -5px no-repeat}.pack_content .chonse_bank .content_box .bank_content li
p.GZCB{margin:3px
0 5px 46px}.pack_content .card_cho dl dt
p.GZCB{margin:15px
0 15px 12px}.pack_content .card_cho
dl{display:inline-block;*display:inline;*zoom:1}.pack_content .card_cho dl.add_card
dt{background-color:#fff;overflow:visible}.pack_content .card_cho dl dd
span{vertical-align:6px;*vertical-align:0;float:none;margin-top:0}.pack_content .chonse_bank .sure_bank
h4{width:163px;line-height:38px;padding-left:25px}.userInfo{padding-left:215px}.userInfo
dl{height:70px}.userInfo dt,.userInfo
dd{font-size:14px;line-height:70px;color:#666}.userInfo
dt{float:left;width:140px;text-align:right}.userInfo
dd{margin-left:5px}.userInfo dd
input{width:200px;height:36px;line-height:36px;padding-left:10px;border:1px
solid #dcdcdc;font-size:14px}.userInfo dd span,.userInfo dd
a{display:inline-block;*display:inline;*zoom:1}.userInfo dd
span{height:36px;line-height:36px;background:#f0f0f0;margin-left:10px;padding:0
10px}.userInfo dd span
img{vertical-align:-3px;margin-right:3px}.userInfo dd
a{width:135px;height:38px;line-height:38px;border-radius:3px;text-align:center;font-size:15px;color:#fff;background:#f80;margin-left:10px}.userInfo dd
a.dark{background:#ccc}.userInfo
.agreeXy{margin-left:1px}.userInfo
.redb{height:43px;width:166px;font-size:18px;line-height:43px;margin-left:145px}.success-wrp{height:190px}.success-wrp,.fail-wrp{margin:100px
auto;text-align:center}.success-wrp p,.fail-wrp
p{font-size:24px;color:#333;margin:20px
0}.success-wrp a,.fail-wrp
a{display:inline-block;*display:inline;*zoom:1;width:130px;height:35px;line-height:35px;border-radius:3px;font-size:14px;color:#fff}.success-wrp a.wallet,.fail-wrp
a.wallet{background:#ff6464;margin-right:20px}.success-wrp a.tbbao,.fail-wrp
a.tbbao{background:#f80}.fail-wrp{height:265px}.fail-wrp
p.reason{font-size:14px;margin:15px
0}.fail-wrp p.reason
i{font-style:normal}.fail-wrp p.reason
.orange{color:#f80}.fail-wrp p.reason
.red{color:#ff4c4c}.fail-wrp
a{margin-top:5px}.pack_content .card_cho dl dd span
a{margin-left:72px}.pack_content .agreeXy
span{float:left;padding:0
0px;font-size:12px;line-height:20px;color:#F00}.pack_content .agreeXy span
img{vertical-align:-4px;margin:0
8px 0 -22px}.index_nav li
a{padding-left:30px;padding-right:30px;width:auto!important}.index_nav{margin-right:0!important}.wallet-info{display:block;overflow:hidden;margin-top:40px;width:20px;height:20px}.wallet-info:hover{width:auto}.wallet-info img, .wallet-info span, .wallet-info
p{display:inline-block;*display:inline;vertical-align:middle;*zoom:1}.wallet-info span,.wallet-info
p{margin-left:5px;padding:2px
10px;background:#F0F0F0;border-radius:3px;color:#666;font-size:12px}